# Auto detect text files and perform LF normalization
* text=auto
C:/Users/SXF-Admin/OneDrive/【王炫】毕设源文件/phpstudy_pro/thinkPHP_project/WWW/xjdponline/models/calpuffone/2-LANDUSE/eausgs2_0la.img filter=lfs diff=lfs merge=lfs -text
